*{
    margin: 0;
    padding: 0;
}
.cal img{
    float: right;
    height: 80vh;
    padding-right: 30vh;
    padding-top: 15vh;
}
body{
    
}
.para p{
    padding-left: 12vh;
    padding-top: 30vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5vh;
}
.button  a{
    text-decoration: none;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
